.nav {
  display: flex;
  text-align: left;
  nav {
    padding:0  10px;
    border-right: 1px solid #888;
    overflow-y: scroll;
  }
    .active {
        color: red;
    }
  .content {
    padding: 0 1rem;
  }
}
